In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("bank-additional-full.csv",sep = ";")

In [5]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [7]:
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [8]:
df.job.value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [ ]:
df.fillna() # -1 -999

In [10]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [13]:
numDF = pd.get_dummies(df,columns = ['job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week','poutcome'] )

In [14]:
numDF.dtypes

age                       int64
duration                  int64
campaign                  int64
pdays                     int64
previous                  int64
emp.var.rate            float64
cons.price.idx          float64
cons.conf.idx           float64
euribor3m               float64
nr.employed             float64
y                        object
job_admin.              float64
job_blue-collar         float64
job_entrepreneur        float64
job_housemaid           float64
job_management          float64
job_retired             float64
job_self-employed       float64
job_services            float64
job_student             float64
job_technician          float64
job_unemployed          float64
job_unknown             float64
marital_divorced        float64
marital_married         float64
marital_single          float64
marital_unknown         float64
education_basic.4y      float64
education_basic.6y      float64
education_basic.9y      float64
                         ...
education_unknown       float64
default_no              float64
default_unknown         float64
default_yes             float64
housing_no              float64
housing_unknown         float64
housing_yes             float64
loan_no                 float64
loan_unknown            float64
loan_yes                float64
contact_cellular        float64
contact_telephone       float64
month_apr               float64
month_aug               float64
month_dec               float64
month_jul               float64
month_jun               float64
month_mar               float64
month_may               float64
month_nov               float64
month_oct               float64
month_sep               float64
day_of_week_fri         float64
day_of_week_mon         float64
day_of_week_thu         float64
day_of_week_tue         float64
day_of_week_wed         float64
poutcome_failure        float64
poutcome_nonexistent    float64
poutcome_success        float64
dtype: object

In [15]:
numDF.loc[numDF['y'] == 'yes','target'] = 1
numDF.loc[numDF['y'] == 'no','target'] = 0

In [16]:
numDF.target.value_counts()

0.0    36548
1.0     4640
Name: target, dtype: int64

In [17]:
from sklearn.cross_validation import train_test_split

In [18]:
xtrain,xtest,ytrain,ytest = train_test_split(numDF.drop(['y','target'],axis = 1),
                                            numDF['target'],train_size = 0.7)

In [19]:
xtrain.shape

(28831, 63)

In [20]:
xtest.shape

(12357, 63)

In [21]:
from sklearn.linear_model import LogisticRegression

In [26]:
clf = LogisticRegression()

In [23]:
clf.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [24]:
clf.score(xtest,ytest)

0.91162903617382862

In [25]:
from sklearn.grid_search import GridSearchCV

In [27]:
param = {"C":[0.01,0.05,0.1,1],"max_iter":[100,200,300]}

In [30]:
gsc = GridSearchCV(clf,param,scoring="accuracy",cv = 5,verbose = 1)

In [31]:
gsc.param_grid

{'C': [0.01, 0.05, 0.1, 1], 'max_iter': [100, 200, 300]}

In [32]:
gsc.fit(xtrain,ytrain)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

[Parallel(n_jobs=1)]: Done  49 tasks       | elapsed:   14.1s
[Parallel(n_jobs=1)]: Done  60 out of  60 | elapsed:   17.7s finished

GridSearchCV(cv=5, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'max_iter': [100, 200, 300], 'C': [0.01, 0.05, 0.1, 1]},
       pre_dispatch='2*n_jobs', refit=True, scoring='accuracy', verbose=1)

In [33]:
gsc.grid_scores_

[mean: 0.90999, std: 0.00322, params: {'max_iter': 100, 'C': 0.01},
 mean: 0.90999, std: 0.00322, params: {'max_iter': 200, 'C': 0.01},
 mean: 0.90999, std: 0.00322, params: {'max_iter': 300, 'C': 0.01},
 mean: 0.90978, std: 0.00315, params: {'max_iter': 100, 'C': 0.05},
 mean: 0.90978, std: 0.00315, params: {'max_iter': 200, 'C': 0.05},
 mean: 0.90978, std: 0.00315, params: {'max_iter': 300, 'C': 0.05},
 mean: 0.90982, std: 0.00306, params: {'max_iter': 100, 'C': 0.1},
 mean: 0.90982, std: 0.00306, params: {'max_iter': 200, 'C': 0.1},
 mean: 0.90982, std: 0.00306, params: {'max_iter': 300, 'C': 0.1},
 mean: 0.90951, std: 0.00296, params: {'max_iter': 100, 'C': 1},
 mean: 0.90951, std: 0.00296, params: {'max_iter': 200, 'C': 1},
 mean: 0.90951, std: 0.00296, params: {'max_iter': 300, 'C': 1}]

In [34]:
gsc.best_params_

{'C': 0.01, 'max_iter': 100}

In [35]:
from sklearn.metrics import precision_recall_curve

In [36]:
prob = gsc.predict_proba(xtest)

In [39]:
precision,recall,thre = precision_recall_curve(ytest,prob[:,1])

In [40]:
precision

array([ 0.12140064,  0.12132255,  0.12133333, ...,  0.5       ,
        0.        ,  1.        ])

In [41]:
import matplotlib.pyplot as plt

In [43]:
plt.plot(recall,precision)

In [44]:
plt.show()

In [45]:
from sklearn.metrics import classification_report

In [47]:
print(classification_report(ytest,gsc.predict(xtest)))

             precision    recall  f1-score   support

        0.0       0.93      0.97      0.95     10991
        1.0       0.67      0.40      0.50      1366

avg / total       0.90      0.91      0.90     12357

In [46]:
help(classification_report)

Help on function classification_report in module sklearn.metrics.classification:

classification_report(y_true, y_pred, labels=None, target_names=None, sample_weight=None, digits=2)
    Build a text report showing the main classification metrics

    Read more in the :ref:`User Guide <classification_report>`.

    Parameters
    ----------
    y_true : 1d array-like, or label indicator array / sparse matrix
        Ground truth (correct) target values.

    y_pred : 1d array-like, or label indicator array / sparse matrix
        Estimated targets as returned by a classifier.

    labels : array, shape = [n_labels]
        Optional list of label indices to include in the report.

    target_names : list of strings
        Optional display names matching the labels (same order).

    sample_weight : array-like of shape = [n_samples], optional
        Sample weights.

    digits : int
        Number of digits for formatting output floating point values

    Returns
    -------
    report : string
        Text summary of the precision, recall, F1 score for each class.

    Examples
    --------
    >>> from sklearn.metrics import classification_report
    >>> y_true = [0, 1, 2, 2, 2]
    >>> y_pred = [0, 0, 2, 2, 1]
    >>> target_names = ['class 0', 'class 1', 'class 2']
    >>> print(classification_report(y_true, y_pred, target_names=target_names))
                 precision    recall  f1-score   support
    <BLANKLINE>
        class 0       0.50      1.00      0.67         1
        class 1       0.00      0.00      0.00         1
        class 2       1.00      0.67      0.80         3
    <BLANKLINE>
    avg / total       0.70      0.60      0.61         5
    <BLANKLINE>

In [48]:
from sklearn.ensemble import RandomForestClassifier

In [49]:
clf1 = RandomForestClassifier()

In [50]:
clf1.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [51]:
clf1.score(xtest,ytest)

0.90912033665129077

In [52]:
from sklearn.preprocessing import StandardScaler

In [53]:
std = StandardScaler()

In [54]:
std.fit(xtrain)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [55]:
xtrain_std = std.transform(xtrain)
xtest_std = std.transform(xtest)

In [56]:
clf = LogisticRegression()

In [57]:
clf.fit(xtrain_std,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [58]:
clf.score(xtest_std,ytest)

0.91260014566642389

In [59]:
print(classification_report(ytest,clf.predict(xtest_std)))

             precision    recall  f1-score   support

        0.0       0.93      0.97      0.95     10991
        1.0       0.66      0.42      0.52      1366

avg / total       0.90      0.91      0.90     12357

In [60]:
print(classification_report(ytest,gsc.predict(xtest)))

             precision    recall  f1-score   support

        0.0       0.93      0.97      0.95     10991
        1.0       0.67      0.40      0.50      1366

avg / total       0.90      0.91      0.90     12357